<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"><strong>Feeling bogged down with life's pressures and responsibilities?</strong></h1>
        <p class="lead">Have Reddit's r/UpliftingNews brighten up your day!</p>
        <hr class="my-4">
        <a class="searchArticle">
            <button type="submit" class="btn" id="submit-button">
                Click here to cheer up!
            </button>
        </a>
    </div>

<div id="articles"></div>

</div>






<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/app.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Exo+2:700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">