<h1>Feeling bogged down with life's pressures and responsibilities?</h1>
<h1>Have Reddit's r/UpliftingNews brighten up your day!</h1>

<p>Click here to cheer up!</p>

<div id="articles"></div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/app.js"></script>